body {
  display: flex;
  justify-content: center;
  background-color: gray;
  height: 100vh;
  background-repeat: repeat;
}

.computerChoseThis {
  color: white;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(rgb(231, 39, 39), rgb(246, 231, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 0;
  flex-wrap: no-wrap;
  height: 100vh;
}

.game {
  text-align: center;
  border: 6px outset green;
  border-radius: 20px;
  background-color: azure;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  padding: 10px;
  min-width: 200px;
  max-width: 400px;
}

.second-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
}
.title,
.score,
.move,
.p-count,
.c-count {
  background: -webkit-linear-gradient(rgb(10, 10, 10), rgb(12, 242, 47));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
}
/* Title of the game */
.title {
  position: relative;
  top: 5px;
  z-index: 2;
  text-align: center;
}

/*score */
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  max-width: 250px;
  border: 5px inset rgb(20, 175, 15);
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #424244;
}

.p-count,
.c-count {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/*displaying buttons in a row*/
.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

/*Style on action button */

.rock,
.paper,
.scissor {
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-weight: bold;
  color: #4d4d87;
  border: 1px solid;
  background-color: #d9e8fb;
  box-shadow: 0 5px #999;
  cursor: pointer;
  white-space: pre-wrap;
}

.button:hover {
  background-color: #a1fca4;
  color: #8a0f0f;
}

.button:active {
  background-color: #cde8ce;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.rock {
  background-color: rgb(110, 96, 24);
  color: #a1fca4;
}
.paper {
  background-color: rgb(224, 223, 222);
  color: #8a0f0f;
}
.scissor {
  background-color: silver;
  color: #121301;
}
.move {
  font-size: 2rem;
  font-weight: bold;
}

/* reload button styling*/
.reload {
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  font-weight: bold;
  color: #8a0f0f;
  border: 1px solid;
  background-color: rgb(224, 223, 222);
  box-shadow: 0 5px #999;
  cursor: pointer;
  white-space: pre-wrap;
}

.result {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  font-family: Verdana;
  color: #ffc310;
}
@keyframes blink-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* responsive design*/

@media screen and (max-width: 320px) {
  body {
    background-color: rgba(0, 0, 255, 0.3;);
  }
  .title {
    text-align: center;
    background: -webkit-linear-gradient(rgb(149, 149, 149), rgb(246, 231, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .score {
    position: absolute;
    top: 200px;
    width: 100vw;
  }
  .options {
    width: 100vw;
  }
}